/.vs/Comfy/v17/.suo
/.vs/Comfy/FileContentIndex/80b43a0f-e25e-42b7-9e20-52bc618e19a9.vsidx
/Comfy.Core/bin/Debug/net8.0/Comfy.Core.deps.json
/Comfy.Core/bin/Debug/net8.0/Comfy.Core.dll
/Comfy.Core/bin/Debug/net8.0/Comfy.Core.pdb
/Comfy.Core/obj/Comfy.Core.csproj.nuget.dgspec.json
/Comfy.Core/obj/Comfy.Core.csproj.nuget.g.props
/Comfy.Core/obj/Comfy.Core.csproj.nuget.g.targets
/Comfy.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.AssemblyInfo.cs
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.AssemblyInfoInputs.cache
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.assets.cache
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.csproj.CoreCompileInputs.cache
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.csproj.FileListAbsolute.txt
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.dll
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.GeneratedMSBuildEditorConfig.editorconfig
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.GlobalUsings.g.cs
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.pdb
/Comfy.Core/obj/Debug/net8.0/Comfy.Core.sourcelink.json
/Comfy.Core/obj/Debug/net8.0/ref/Comfy.Core.dll
/Comfy.Core/obj/Debug/net8.0/refint/Comfy.Core.dll
/Comfy.Core/obj/project.assets.json
/Comfy.Core/obj/project.nuget.cache
/.vs/Comfy/DesignTimeBuild/.dtbcache.v2
/.vs/Comfy/FileContentIndex/6af92948-b0e8-4f0d-a06c-855ed43d0fc4.vsidx
/.vs/Comfy/v17/.futdcache.v2
/.vs/ProjectEvaluation/comfy.metadata.v7.bin
/.vs/ProjectEvaluation/comfy.projects.v7.bin
/Comfy.DataAccess/bin/Debug/net8.0/Comfy.DataAccess.deps.json
/Comfy.DataAccess/bin/Debug/net8.0/Comfy.DataAccess.dll
/Comfy.DataAccess/bin/Debug/net8.0/Comfy.DataAccess.pdb
/Comfy.DataAccess/obj/Comfy.DataAccess.csproj.nuget.dgspec.json
/Comfy.DataAccess/obj/Comfy.DataAccess.csproj.nuget.g.props
/Comfy.DataAccess/obj/Comfy.DataAccess.csproj.nuget.g.targets
/Comfy.DataAccess/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.AssemblyInfo.cs
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.AssemblyInfoInputs.cache
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.assets.cache
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.csproj.CoreCompileInputs.cache
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.csproj.FileListAbsolute.txt
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.dll
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.GlobalUsings.g.cs
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.pdb
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.sourcelink.json
/Comfy.DataAccess/obj/Debug/net8.0/ref/Comfy.DataAccess.dll
/Comfy.DataAccess/obj/Debug/net8.0/refint/Comfy.DataAccess.dll
/Comfy.DataAccess/obj/project.assets.json
/Comfy.DataAccess/obj/project.nuget.cache
/.vs/Comfy/FileContentIndex/00dff308-92fe-4916-8550-24e5f5b150d6.vsidx
/.vs/Comfy/FileContentIndex/59a1950f-ccf7-4ffe-8195-c3139a528985.vsidx
/Comfy.DataAccess/bin/Debug/net8.0/Comfy.Core.dll
/Comfy.DataAccess/bin/Debug/net8.0/Comfy.Core.pdb
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.csproj.AssemblyReference.cache
/Comfy.DataAccess/obj/Debug/net8.0/Comfy.DataAccess.csproj.CopyComplete
/Comfy.Service/obj/Comfy.Service.csproj.nuget.dgspec.json
/Comfy.Service/obj/Comfy.Service.csproj.nuget.g.props
/Comfy.Service/obj/Comfy.Service.csproj.nuget.g.targets
/Comfy.Service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.AssemblyInfo.cs
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.AssemblyInfoInputs.cache
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.assets.cache
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.csproj.AssemblyReference.cache
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.csproj.CopyComplete
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.csproj.CoreCompileInputs.cache
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.csproj.FileListAbsolute.txt
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.dll
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.GeneratedMSBuildEditorConfig.editorconfig
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.GlobalUsings.g.cs
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.pdb
/Comfy.Service/obj/Debug/net8.0/Comfy.Service.sourcelink.json
/Comfy.Service/obj/Debug/net8.0/ref/Comfy.Service.dll
/Comfy.Service/obj/Debug/net8.0/refint/Comfy.Service.dll
/Comfy.Service/obj/project.assets.json
/Comfy.Service/obj/project.nuget.cache
/Comfy.Service/bin/Debug/net8.0/Comfy.Core.dll
/Comfy.Service/bin/Debug/net8.0/Comfy.Core.pdb
/Comfy.Service/bin/Debug/net8.0/Comfy.DataAccess.dll
/Comfy.Service/bin/Debug/net8.0/Comfy.DataAccess.pdb
/Comfy.Service/bin/Debug/net8.0/Comfy.Service.deps.json
/Comfy.Service/bin/Debug/net8.0/Comfy.Service.dll
/Comfy.Service/bin/Debug/net8.0/Comfy.Service.pdb
/.vs/Comfy/FileContentIndex/cef5a86a-0d80-4e88-affe-d5fed06fffe2.vsidx
/.vs/Comfy/FileContentIndex/f43b459d-84f6-418e-8a1f-74fad97b0e58.vsidx
/.vs/Comfy/FileContentIndex/b208b880-3d4b-4855-810c-20606d1caacc.vsidx
/.vs/Comfy/config/applicationhost.config
/.vs/Comfy/FileContentIndex/747b14e8-95b2-4765-9eb8-e5a629354b94.vsidx
/Comfy.Presentation/bin/Debug/net8.0/appsettings.Development.json
/Comfy.Presentation/bin/Debug/net8.0/appsettings.json
/Comfy.Presentation/bin/Debug/net8.0/Comfy.Presentation.deps.json
/Comfy.Presentation/bin/Debug/net8.0/Comfy.Presentation.dll
/Comfy.Presentation/bin/Debug/net8.0/Comfy.Presentation.exe
/Comfy.Presentation/bin/Debug/net8.0/Comfy.Presentation.pdb
/Comfy.Presentation/bin/Debug/net8.0/Comfy.Presentation.runtimeconfig.json
/Comfy.Presentation/bin/Debug/net8.0/Comfy.Presentation.staticwebassets.runtime.json
/Comfy.Presentation/obj/Comfy.Presentation.csproj.nuget.dgspec.json
/Comfy.Presentation/obj/Comfy.Presentation.csproj.nuget.g.props
/Comfy.Presentation/obj/Comfy.Presentation.csproj.nuget.g.targets
/Comfy.Presentation/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Comfy.Presentation/obj/Debug/net8.0/apphost.exe
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.AssemblyInfo.cs
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.AssemblyInfoInputs.cache
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.assets.cache
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.csproj.BuildWithSkipAnalyzers
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.csproj.CoreCompileInputs.cache
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.csproj.FileListAbsolute.txt
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.dll
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.GeneratedMSBuildEditorConfig.editorconfig
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.genruntimeconfig.cache
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.GlobalUsings.g.cs
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.MvcApplicationPartsAssemblyInfo.cache
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.pdb
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.RazorAssemblyInfo.cache
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.RazorAssemblyInfo.cs
/Comfy.Presentation/obj/Debug/net8.0/Comfy.Presentation.sourcelink.json
/Comfy.Presentation/obj/Debug/net8.0/ref/Comfy.Presentation.dll
/Comfy.Presentation/obj/Debug/net8.0/refint/Comfy.Presentation.dll
/Comfy.Presentation/obj/Debug/net8.0/scopedcss/bundle/Comfy.Presentation.styles.css
/Comfy.Presentation/obj/Debug/net8.0/scopedcss/projectbundle/Comfy.Presentation.bundle.scp.css
/Comfy.Presentation/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Comfy.Presentation/obj/Debug/net8.0/staticwebassets.build.json
/Comfy.Presentation/obj/Debug/net8.0/staticwebassets.development.json
/Comfy.Presentation/obj/Debug/net8.0/staticwebassets.pack.json
/Comfy.Presentation/obj/Debug/net8.0/staticwebassets/msbuild.build.Comfy.Presentation.props
/Comfy.Presentation/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Comfy.Presentation.props
/Comfy.Presentation/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Comfy.Presentation.props
/Comfy.Presentation/obj/Debug/net8.0/staticwebassets/msbuild.Comfy.Presentation.Microsoft.AspNetCore.StaticWebAssets.props
/Comfy.Presentation/obj/project.assets.json
/Comfy.Presentation/obj/project.nuget.cache
/.vs/Comfy/FileContentIndex/10e32eee-fb13-4c33-975e-daa0cb77bc9d.vsidx
/.vs/Comfy/FileContentIndex/78cdfc14-6949-46b1-84f8-f7c92913d63c.vsidx
